
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statuses</title>
</head>
<body>
<a href="/create-status">Create new status</a>
<h1>Statues</h1>
<table border="1">
    <tr>
        <th>Status name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="status : ${statuses}">
        <tr>
            <td><a th:href="@{/view-status/__${status.id}__}" th:text="${status.name}"></a></td>
            <td><a th:href="@{/edit-status/__${status.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-status/__${status.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>